$fontFamily: 'IBM Plex Mono', monospace;
$backgroundColor: #111;
$color: #DDD;

$dark-background: #121212;
$dark-backgroundGradient: #121212;
$dark-surface0: #121212;
$dark-surface1: rgba(255, 255, 255, 0.05);
$dark-surface2: rgba(255, 255, 255, 0.07);
$dark-surface3: rgba(255, 255, 255, 0.08);
$dark-surface4: rgba(255, 255, 255, 0.09);
$dark-surface5: rgba(255, 255, 255, 0.11);
$dark-surface6: rgba(255, 255, 255, 0.12);
$dark-surface7: rgba(255, 255, 255, 0.14);
$dark-surface8: rgba(255, 255, 255, 0.15);
$dark-surface9: rgba(255, 255, 255, 0.16);
$dark-pictureSurface0: rgba(18, 18, 18, 0.81);
$dark-pictureSurface1: rgba(19, 19, 19, 0.81);
$dark-pictureSurface2: rgba(20, 20, 20, 0.81);
$dark-pictureSurface3: rgba(21, 21, 21, 0.81);
$dark-pictureSurface4: rgba(22, 22, 22, 0.81);
$dark-pictureSurface5: rgba(23, 23, 23, 0.81);
$dark-pictureSurface6: rgba(24, 24, 24, 0.81);
$dark-pictureSurface7: rgba(25, 25, 25, 0.81);
$dark-pictureSurface8: rgba(26, 26, 26, 0.81);
$dark-pictureSurface9: rgba(27, 27, 27, 0.81);
$dark-primary: #BB86FC;
$dark-primaryVibrant: #8424F9;
$dark-primaryTransparent: rgba(187, 134, 252, 0.5);
$dark-secondary: #9BFDF4;
$dark-secondaryVibrant: #05F0D8;
$dark-secondaryTransparent: rgba(155, 253, 244, 0.8);
$dark-error: #CF6679;
$dark-onPrimary: #000000;
$dark-onSecondary: #000000;
$dark-onSurfaceMaxEmphasis: rgba(255, 255, 255, 1);
$dark-onSurfaceHighEmphasis: rgba(255, 255, 255, 0.87);
$dark-onSurfaceMedEmphasis: rgba(255, 255, 255, 0.60);
$dark-onSurfaceLowEmphasis: rgba(255, 255, 255, 0.38);
$dark-onError: #000000;
$dark-shadowWeak: 0px 1px 2px rgba(0, 0, 0, 0.7);
$dark-shadowStrong: 0px 1px 2px rgba(0, 0, 0, 0.7);
$dark-navigationBar: rgba(38, 38, 38, 0.5);


$light-background: #F9F9F9;
$light-backgroundGradient: linear-gradient(0deg, rgba(249,249,249,1) 53%, rgba(133,212,255,1) 100%);
$light-surface0: #F9F9F9;
$light-surface1: rgba(255, 255, 255, 0.15);
$light-surface2: rgba(255, 255, 255, 0.2);
$light-surface3: rgba(255, 255, 255, 0.3);
$light-surface4: rgba(255, 255, 255, 0.5);
$light-surface5: rgba(255, 255, 255, 0.6);
$light-surface6: rgba(255, 255, 255, 0.7);
$light-surface7: rgba(255, 255, 255, 0.74);
$light-surface8: rgba(255, 255, 255, 0.77);
$light-surface9: rgba(255, 255, 255, 0.8);
$light-pictureSurface0: rgba(249, 249, 249, 0.89);
$light-pictureSurface1: rgba(250, 250, 250, 0.89);
$light-pictureSurface2: rgba(251, 251, 251, 0.89);
$light-pictureSurface3: rgba(252, 252, 252, 0.89);
$light-pictureSurface4: rgba(253, 253, 253, 0.89);
$light-pictureSurface5: rgba(254, 254, 254, 0.89);
$light-pictureSurface6: rgba(255, 255, 255, 0.89);
$light-pictureSurface7: rgba(255, 225, 255, 0.90);
$light-pictureSurface8: rgba(255, 255, 255, 0.91);
$light-pictureSurface9: rgba(255, 255, 255, 0.95);
$light-primary: #85D4FF;
$light-primaryVibrant: #47BFFF;
$light-primaryTransparent: rgba(133, 212, 255, 0.8);
$light-secondary: #95D473;
$light-secondaryVibrant: #7DCA53;
$light-secondaryTransparent: rgba(184, 224, 210, 0.8);
$light-error: #CF6679;
$light-onPrimary: #000000;
$light-onSecondary: #000000;
$light-onSurfaceMaxEmphasis: rgba(0, 0, 0, 1);
$light-onSurfaceHighEmphasis: rgba(0, 0, 0, 0.87);
$light-onSurfaceMedEmphasis: rgba(0, 0, 0, 0.6);
$light-onSurfaceLowEmphasis: rgba(0, 0, 0, 0.38);
$light-onError: #000000;
$light-shadowWeak: 0px 1px 2px rgba(0, 0, 0, 0.4);
$light-shadowStrong: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
$light-navigationBar: rgba(133, 212, 255, 0.8);



